#!/usr/bin/env bash

alias starwars="telnet towel.blinkenlights.nl"

# default editor
alias edit="vim"

# colorize ls and show file types
alias ls="ls -FNh --color=auto --group-directories-first"

#:colorize the grep output
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"

# create parent dir, output visual
alias mkdir="mkdir -pv"

# quick open
alias o="xdg-open"

# o () {
#     if [ $# -eq 0 ]; 
#     then
# 	xdg-open .
#     else
# 	xdg-open $1
#     fi
# }
