#!/usr/bin/env bash

# vim default editor
export EDITOR='vim';

# Omit duplicates and commands that start with a space in history
export HISTCONTROL='ignoreboth';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';
